.ReactModal__Overlay {
	z-index: 2000;
}

.bisu--react-modal {
  // react-modal
  .modal-overlay {
  	overflow-x: hidden;
  	overflow-y: auto;
  	background-color: rgba(0,0,0,0.5);
  	position: fixed;
  	top: 0;
  	left: 0;
  	right: 0;
  	bottom: 0;
  	outline: none;

  	&.confirm {
  		background-color: rgba(0,0,0,0.8);
  	}
  }

  .modal-dialog {
  	outline: none;
  }
}
